/* importing the fonts */
@font-face {
  font-family: vazir;
  src: url("./fonts/Vazir-Variable.woff2") format("woff2");
  font-style: normal;
}

/* global styles */

* {
  box-sizing: border-box;
  /* direction: rtl; */
  padding: 0;
  margin: 0;
  font-family: vazir;
  font-weight: bold;
  scrollbar-width: thin;
  scrollbar-color: #1b1b1b;
  scrollbar-gutter: #1b1b1b;
  /* overflow-x: hidden; */
}

*::selection {
  background-color: #1b1b1b;
  color: #fff;
}
*::-webkit-scrollbar-track {
  width: 20px;
}
*::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #cecece;
  border-radius: 5px;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f0f0;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

.btn {
  margin-left: 5rem;
  display: block;
  padding: 0.5rem 1.8rem;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: vazir;
  border: 1px solid #49d49d;
  cursor: pointer;
  transition: 0.2s ease all;
  color: white;
  z-index: 1;
}

.btn:hover {
  border: 1px solid #49d49d;
  color: white;
  background-color: #49d49d;
}
.btn:hover a {
  color: white;
}
.btn > a {
  font-size: 1.5rem;
  font-family: vazir;
  font-weight: 100;
  text-decoration: none;
  color: white;
}
span {
  color: lightcoral;
}
