/* importing the fonts */
@font-face {
  font-family: vazir;
  src: url("./fonts/Vazir-Variable.woff2") format("woff2");
  font-style: normal;
}

/* global styles */

* {
  box-sizing: border-box;
  /* direction: rtl; */
  padding: 0;
  margin: 0;
  font-family: vazir;
  font-weight: bold;
  /* scrollbar-width: thin;
  scrollbar-color: #1b1b1b;
  scrollbar-gutter: #1b1b1b; */
  /* overflow-x: hidden; */
}

*::selection {
  background-color: #1b1b1b;
  color: #fff;
}
/* *::-webkit-scrollbar-track {
  width: 20px;
}
*::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #cecece;
  border-radius: 5px;
}*/
*::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  position: relative;
}

.btn {
  margin-left: 5rem;
  display: block;
  padding: 0.5rem 1.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: vazir;
  border: 1px solid #1b1b1b;
  cursor: pointer;
  transition: 0.2s ease all;
  color: white;
  z-index: 1;
}

.btn:hover {
  border: 1px solid #00ff08;
  color: white;
}
.btn:hover a {
  color: white;
}
.btn > a {
  font-size: 1.5rem;
  font-family: vazir;
  font-weight: 100;
  text-decoration: none;
  color: white;
}
span {
  color: lightcoral;
}
.form {
  direction: rtl;
  width: 100vw;
  height: calc(100vh - 140px);
  overflow: hidden;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
